.comment-avatar {
    height: 50px;
    width: 50px;
}

.post-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.post-content {
    height: 6rem;
    overflow: hidden;
}

.post-content::-webkit-scrollbar {
    width: 0;
}

.smoke {
    background: linear-gradient(to bottom, white, grey);
    width: 100%;
    height: 2rem;
    opacity: 0.4;
    position: absolute;
    top: 4rem;
    border-radius: 0 0 0.3rem 0.3rem;
}

.content {
    position: relative;
}